{% extends 'main.html.twig' %}

{% block body %}
    {% if userRights['userRead'] == true %}
        <div class="userlist">
            <table>

                <tr>
                    <th>Naam</th>
                    <th>E-mailadres</th>
                    <th>Woonplaats</th>
                    <th>Profiel</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.firstName }} {{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.city }}</td>
                        <td>{{ user.profileName }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        Je hebt geen leesrechten voor 'Users'
    {% endif %}
{% endblock %}